@charset "utf-8";

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacityIE: $opacity * 100;
    filter: alpha(opacity=$opacityIE);
}
@mixin css-transition($property:all,$time:1,$delay:0,$bezier:'0,0,1,1') {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}transition: #{$property} #{$time}s cubic-bezier(#{$bezier});
        #{$prefix}transition-delay: #{$delay}s;
    }
}
@mixin transform( $value) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}transform: $value;
    }
}
@mixin transform3d( $value) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}transform3d: $value;
    }
}
@mixin transform-origin($x:left,$y:top) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}transform-origin: $x $y;
    }
}
@mixin transform-transition($time:0,$delay:0,$ease:linear) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}transition: #{$prefix}transform #{$time}s #{$delay}s $ease;
    }
}
@mixin transform-css-transition($time:0,$delay:0,$ease:linear,$value:'') {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}transition: #{$prefix}transform #{$time}s #{$delay}s $ease, $value;
    }
}
@mixin no-transition() {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@mixin animation-timing-function($ease) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}animation-timing-function: #{$ease};
    }
}

@mixin line($width,$height,$color:#000){
    width : $width; height : $height; border-top:$height solid $color;
}
