.grid-wrap{
    display: none;
}
.grid-wrap .grid {
    position: absolute;left:0; top:0; right:0; bottom:0;
    display: flex;

    height:200vh;

    z-index:1000000000;
    opacity: 0.3;
}

.grid-wrap .grid .cell{
    background: pink;
    border-left:1px solid red;
    border-right:1px solid red;
    margin:0 1.25%;
    width:7.5%;
    height:100%;
}
@media all and (max-width:767px){
    .grid-wrap .grid {
        display: block;
    }
    .grid-wrap .grid .cell{
        display: none;
        margin:0 4% 4%;
        width:92%;
        height:100%;
    }

    .grid-wrap .grid .cell:first-child{
        display: block;
    }
}
.debug-btn-wrap{
    position: fixed;left:0; top:10vh;
    z-index: 999999999999999;
}
.debug-btn-wrap button{
    display: block;
    padding:10px;
    margin:3px 0;
    background: rgba(gray, 0.6);
    box-shadow:0 0 3px rgba(black,0.1);
    font-weight: bold;
    color:black;

    &:hover{
        background: gray;
    }
}

.main.box-debug{
    .main-kv{
        border:1px solid green;

        .kv-items-wrap{

                    }
        .txt-content{
            background: silver;
            .title-holder{
                background: #999;
            }
        }
    }

    .component-list{
        background: lighten(black,90);
        li{
            dl{

            }
            dt.title{
                background: lighten(black, 52);
            }
            dd.desc{
                background: lighten(black, 56);
            }
            dd.date{
                background: lighten(black, 60);
            }
        }
    }

    .main-list-btn-area {
        background: lighten(black, 94);
    }
}

.components.box-debug{

}