body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
.container{position: relative;}
#myImg{
    position: absolute;
    top: 0;
    left: 0;
}
canvas{
    position: absolute;
    top: 0;
    left: 0;
}
