body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
.container{
    position: relative;
    display: flex;
}
#myImg{
    position: absolute;
    top: 0;
    left: 0;
}
canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border:1px solid #000;
    margin-bottom: 400px;
}
#line{
    fill : none;
    stroke:#000;
    stroke-width:1;
    stroke-linecap:round;
    stroke-dasharray: 4000; /*이 값은 path의 길이와 동일합니다*/
    stroke-dashoffset: 0;
    animation: dash 15s linear;
}
@keyframes dash {
    0% {
        stroke-dashoffset: 4000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
