@charset "utf-8";
// header
#container{
    @include break-point($mobile){
        @include common-convert-device(padding-top, 96);
        min-height: 100vh!important;
    }
    @include break-point($tablet){
        @include common-convert-device(padding-top, 70);
        $psd-pixel: delUnit($psd-tablet-width);
        min-height: calc(100vh - (61*100 / #{$psd-pixel} * 1vw))!important;
    }
    @include break-point($pc){
        @include common-convert-device(padding-top, 70);
        min-height: calc(100vh - 61px) !important;
    }
}

// header minify size
body.onMain #container{
    @include break-point($tablet-pc){
        @include common-convert-device(padding-top, 130);
    }
}
.skip_nav {
    display: block;
    position: fixed;
    top: -80px;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: #000;
    color: #fff;
    text-align: center;
}


