@charset "utf-8";
// 백그라운드 이미지 컨테이너 처리
figure.mod-basic-bg,
figure.mod-contained-bg,
figure.mod-covered-bg {
    position: absolute; left:0; top:0;
    width:100%; height:100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    //background-color: lighten(black, 40);
    &.bg-pos-top{
        background-position: 50% 0;
    }

    figcaption {
        @include blind;
    }
}

figure.mod-contained-bg{
    background-size: contain ;
}

figure.mod-covered-bg{
    background-size: cover ;
}

