@charset "utf-8";
/// 상수 리스트

// 경로 정의
$path-common-img: '../images';
$path-web-font: '../fonts/' !default;

// psd 가로 크기 정의(vw 단위 변환을 위한)
$psd-pc-width:           2560px !default;
$psd-tablet-width:       1280px !default;
$psd-mobile-width:       750px !default;

// 1920px을 2560px비율로 계산시 적용되는 배율 상수
$magnify-calc-4K:1.354;

// IE8이상 지원
$legacy-support-for-ie8: false !global;

// IE9이상 지원
$legacy-support-for-ie9: true !global !default;

// 사이트 프레임 공통 좌 or 우 여백 상수
$rl-margin : 3.75%; // web
$rl-margin-mo : 4%; // mobile






