@charset "utf-8";
// 정렬 정의

/* 세로정렬이 항상 중앙인 텍스트 박스 */
.vertical-mid-con {
    position: relative;
    height: 100%;
    overflow: hidden;
    font-size: 0;

    &:before {
        display: inline-block;
        content: '';
        width: 0;
        height: 100%;
        vertical-align: middle;
    }

    .vertical-mid-txt {
        display: inline-block;
        position: relative;
        z-index: 2;
        vertical-align: middle;
        text-align: left;
    }

    .img-container,
    .video-container {
        position: absolute;
        top: 0;
        left: 0;
    }
}

/* Flex를 이용한 세로 중앙 정렬 스타일 */
.vertical-mid-align {
    display: flex; align-items: center;
    @include break-point($mobile) {display: block;}
}

/* Flex를 이용한 세로 중앙 정렬 스타일 */
.vertical-mid-align-row-reverse {
    display: flex; align-items: center;
    @include break-point($mobile) {flex-direction: column-reverse}
}

/* Flex를 이용한 세로 중앙 정렬 스타일 */
.vertical-mid-align-row-reversed {
    display: flex; align-items: center;
    @include break-point($tablet-pc) {flex-direction: row-reverse;}
    @include break-point($mobile) {display: block;}
}



/* 세로정렬이 항상 아래인 텍스트 박스 */
.vertical-bot-con {
    position: relative;
    height: 100%;
    overflow: hidden;
    font-size: 0;

    &:before {
        display: inline-block;
        content: '';
        width: 0;
        height: 100%;
        vertical-align: bottom;
    }

    .vertical-bot-txt {
        display: inline-block;
        position: relative;
        z-index: 2;
        vertical-align: bottom;
        text-align: left;
    }

    .img-container,
    .video-container {
        position: absolute;
        top: 0;
        left: 0;
    }
}